<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
		 colors="true"
		 backupGlobals="false"
		 backupStaticProperties="false"
		 processIsolation="false"
		 cacheDirectory=".phpunit.cache"
		 stopOnError="false"
		 stopOnFailure="false">
	<testsuites>
		<testsuite name="Yii1tech Test Suite">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<!--<server name="MEMCACHE_HOST" value="127.0.0.1"/>-->
		<!--<server name="MEMCACHE_PORT" value="11211"/>-->
		<!--<server name="MYSQL_HOST" value="127.0.0.1"/>-->
		<!--<server name="MYSQL_PORT" value="3306"/>-->
		<!--<server name="MYSQL_DATABASE" value="yiitest"/>-->
		<!--<server name="MYSQL_USERNAME" value="root"/>-->
		<!--<server name="MYSQL_PASSWORD" value="root"/>-->
		<!--<server name="POSTGRES_HOST" value="127.0.0.1"/>-->
		<!--<server name="POSTGRES_PORT" value="5432"/>-->
		<!--<server name="POSTGRES_DATABASE" value="yiitest"/>-->
		<!--<server name="POSTGRES_USERNAME" value="yiitest"/>-->
		<!--<server name="POSTGRES_PASSWORD" value="secret"/>-->
	</php>
</phpunit>
